<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <h3> Login </h3>
</head>
<body>
    <form action="/login" method="POST" style="margin:100px;">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
    <a href="/register"> Register </a>
</body>

</html>
