<!DOCTYPE html>
<html lang="en">
<head>
    <h1>URLs</h1>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <% for(k in urls){ %>
    <li>
      <%= k %> ->
      <%= urls[k] %>
      <form method="POST" action="/urls/<%= k %>/delete">
        <input type="submit" value="Delete">
      </form>
      <a href="/urls/<%= k%>">Edit</a>
    </li>
  <% } %>
  <p>Have a link you want to shorten?
      <a href="/urls/new">Shor.tn</a>
  </p>
</body>
</html>
