<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <h1>URLs</h1>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
   <form action="/urls/<%= shortURL %>/update" method="POST" style="margin:30px;">
  <h3>shortURL: <%= shortURL %> </h3><br>
  <input type="text" id="longURL" name="longURL" style="width: 200px" value=<%=longURL %>>
  <input type="submit" value="Update">
  </form>
</html>
