<!DOCTYPE html>
<html lang="en">
<head>
    <h1>URLs</h1>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <% for(shortURL in urls){ %>
    <li>  <%= shortURL %> -> <%= urls[shortURL]["longURL"] %> </li>
        <form method="POST" action="/urls/<%= shortURL %>/delete">
          <input type="submit" value="Delete">
          <a href="/urls/<%= shortURL%>">Edit</a>
        </form>
  <% } %>
  
  <p>
    <em>
      <b>Have a link you want to shorten?</b>
    </em>
      <a href="/urls/new">Shor.tn</a>
  </p>
</body>
